{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Welcome to Calstate Fullerton</h1>

        {% if session['username'] %}
        <h3>Let's get started.</h3>
        {% else %}
        <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
        {% endif %}

        <br>
        <br>
        <div style="text-align:center;">


            <img src="{{ url_for('static',filename='images/csuf.jpg')}}">

        </div>

    </div>
</div>
{% endblock %}
